body{margin:0 auto;width: 1200px;background-color: #FFFAF0;}
a {
    color: #088acb;
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

.head {
    font-family: "Lato", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    margin-left: 15px;
    font-weight: 900;
    padding: 0px;
    line-height: 50px;
    height: 50px;
}


.task-card{width:100%;margin-top: 20px;}
.task-title{font-weight: 700;}
.task-title1{display:-moz-inline-box;  display:inline-block; width: 40%}
.task-title2{display:-moz-inline-box;  display:inline-block; width:40%}
.task-count{margin-top:10px;}
.task-content{margin-left: 20px;display: none;}
.content{ color: #088acb;}
.content span.url{display:-moz-inline-box;  display:inline-block; width:50%}
.content span.word{display:-moz-inline-box;  display:inline-block; width: 35%;}

.expand{transform: rotate(-90deg);}